* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #000015;
    /* background: #252440; */
    /* background-color: #131c46; */
    color: #fff;
    padding: 0 5rem;
  }
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 100;
  }
  .navbar .navbar-title {
    font-size: 2rem;
    cursor: default;
  }
  .navbar .menu-active {
    display: none;
    width: 40px;
    height: 40px;
  }
  .navbar .navbar-navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .navbar .navbar-navigation .navigation-link {
    text-decoration: none;
    color: #9c9b9b;
    font-weight: 600;
  }
  .navbar .navbar-navigation .navigation-link:hover,
  .navbar .navbar-navigation .active {
    color: #00e0fea7;
  }



  .container-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-projects .type-project {
    text-align: center;
   
  }
  .container-projects .type-project p {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
     background:  linear-gradient(to bottom, #000015,#3ed);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2rem;
  }
  .container-projects .type-project div {
    background-color: #9c9b9b;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: inset 0px 0px 75px #000000;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .container-projects .type-project div button {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  .container-projects .type-project div .active {
    color: #3ed;
  }


  .procjects {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    width: 100%;
    
  }
  .procjects .project {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
    align-items: center;
  }
  .procjects .project .iframe-project {
    width: 40%;
    height: 350px;
    border: 2px solid #3ed;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #3ed;
    
    
  }


  .procjects .project .description-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .procjects .project .description-project h3 {
    font-size: 3rem;  
  }
  .procjects .project .description-project p {
    font-size: 1.5rem;
    text-align: justify;  
    color: #9c9b9b;
    margin: 3rem 0;
  }
  .procjects .project .description-project .technologies  i {
    font-size: 4rem; 
    color: #3ed;
    transition: .5s;
    
  }
  .procjects .project .description-project .technologies  i:hover {
    transform: scale(1.1);
  }
  .procjects .project .description-project .btn-project {
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
  }
  .procjects .project .description-project .btn-project button {
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(to right, #000015,#3ed);
    border: 2px solid #fff;
    cursor: pointer;
    transition: .5s;
    padding: .5rem 3rem;
  }
  .procjects .project .description-project .btn-project button:hover {
    transform: scale(1.05);
  }
  .procjects .project .description-project .btn-project button a{
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 908px) {
    .procjects .project .description-project h3 {
      font-size: 2rem;
    }
    .procjects .project .description-project p {
      font-size: 1.3rem;
    }
    .procjects .project .description-project .btn-project {
      gap: 3rem;
    }
  }
  @media (max-width: 870px) {
    .procjects .project {
      flex-direction: column;
      flex-wrap: wrap;
    }
    .procjects .project .iframe-project,.procjects .project .description-project {
      width: 80%;
    }
  }
  @media (max-width: 850px) {
    .navbar .menu-active {
      display: block;
    }
    .navbar .navbar-navigation {
      position: absolute;
      flex-direction: column;
      top: 80px;
      right: -20px;
      background-color: #0000004a;
      width: 200px;
      padding: 2em;
      align-items: end;
    }
    .navbar .response-active {
      display: none;
    }
    
  }
  @media (max-width: 536px) {
    body {
      padding: 0 1rem;
    }
    .navbar {
      padding: 0 2rem;
    }
    .container-projects .type-project div button {
      font-size: 1.1rem;
    }
    .procjects .project .description-project .technologies {
      text-align: center;
    }
    .procjects .project .description-project .btn-project button {
      font-size: 1.1rem;
      padding: .5rem 2rem;
    }
    /* .container-projects .type-project div {
      width: auto;
    } */
  }
  @media (max-width: 365px) {
    .navbar {
      padding: 0 0.5rem;
    }
    .container-projects .type-project div {
      gap: 1rem;
    }
    .container-projects .type-project div button  {
      font-size: .9rem;
    }
    .procjects .project .description-project .btn-project {
      gap: 1rem;
    }
    .procjects .project .description-project p {
      text-align: left;
    }
  }