* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #000015;
    /* background: #252440; */
    /* background-color: #131c46; */
    color: #fff;
    padding: 0 5rem;
  }
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 100;
  }
  .navbar .navbar-title {
    font-size: 2rem;
    cursor: default;
  }
  .navbar .menu-active {
    display: none;
    width: 40px;
    height: 40px;
  }
  .navbar .navbar-navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .navbar .navbar-navigation .navigation-link {
    text-decoration: none;
    color: #9c9b9b;
    font-weight: 600;
  }
  .navbar .navbar-navigation .navigation-link:hover,
  .navbar .navbar-navigation .active {
    color: #00e0fea7;
  }




  @media (max-width: 850px) {
    .navbar .menu-active {
      display: block;
    }
    .navbar .navbar-navigation {
      position: absolute;
      flex-direction: column;
      top: 80px;
      right: -40px;
      background-color: #0000004a;
      width: 200px;
      padding: 2em;
      align-items: end;
    }
    .navbar .response-active {
      display: none;
    }
    
  }